@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');




body {
    width: 100%;
    background-color: whitesmoke;
    font-size: 20px;
    // opacity: 0.5;
}

#game {
    font-family: 'Londrina Solid', cursive;
    font-size: 80px;
    color: 	#DAA520;
    margin: 0 auto;
}

.mainContainer {
    text-align: center;
}

// #boardContainer {
//     display: flex;
//     justify-content: center;
//     max-width: 70%;
//     height: 80%;
//     margin: 0 auto;
//     background-color: lightblue;
//     border-radius: 10px;
// }

#benchContainer {
    margin-top: 20px;
}

.button {
    margin: 20px 20px;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
}

.bench {
    padding: 12px 27px;
    border-radius: 3px;
    font-size: 20px;
}

.letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.score {
  font-family: 'Londrina Solid', cursive;
  font-size: 18pt;
  color: 	#DAA520;
}

// .cell {
//     margin: 0;
//     width: 100%;
// }


h2 {
   font-family: 'Londrina Solid', cursive;
   color: #DAA520;
}
