

#lobby {
    background-image: url('./pandawhale.jpg');
    background-size: cover;
    height: 100vh;
}

#start {
    padding: 25px 60px;
    border-radius: 12px;
}

.players {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #FF7F50;
}