
#board {
    background: whitesmoke;
    width: 100%;
}

#boardContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 65%;
    width: 70%;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 10px;
}

.cell {
    margin: 0;
    width: 100%;
    display: inline-block;
}

.cell button {
    display: inline-block;
  }

@media (max-width: 850px) {
    #boardContainer {
        width: 80%;
    }
    .tileslb {
        width: 20px;
        height: 20px;
        margin: 0;
        font-size: 15px;
        background-color: lightblue;
        border-radius: 10px;
    }

    .tilesy {
        width: 20px;
        height: 20px;
        margin: 0;
        font-size: 15px;
        background-color: #FFDF00;
        border-radius: 10px;
    }
}

@media (min-width: 1200px) {
    .tileslb {
        width: 78.4px;
        height: 40px;
        margin: 0;
        font-size: 20px;
        background-color: lightblue;
        border-radius: 10px;
    }

    .tilesy {
        width: 78.4px;
        height: 40px;
        margin: 0;
        font-size: 20px;
        background-color: #FFDF00;
        border-radius: 10px;
    }
}



@media (min-width: 3000px) {

    .tileslb {
        width: 170px;
        height: 81.7px;
        margin: 0;
        font-size: 20px;
        background-color: lightblue;
        border-radius: 10px;
    }

    .tilesy {
        width: 170px;
        height: 81.7px;
        margin: 0;
        font-size: 20px;
        background-color: #FFDF00;
        border-radius: 10px;
    }
}
